@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
:root {
    --white: #ffffff;
    --black: #000000;
    --header: #838383;
    --block: #5e5858;
    --block-light: #AFA6A6;
    --block1: #353838;
    --block1-light: #949C9C;
    --block2: #565852;
    --block2-light: #A9ABA3;
    --border: #8c8c8c;
    --tags: #5f5f5f;
    --ghost:    #ffffff;
}
/* elements */
.container {
    margin-left: 15px;
    margin-right: 15px;
}
.back-block__header {
    cursor: pointer;
    background-color: var(--block1-light);
    color: var(--black);
    font-weight: bold;
    padding: 8px 0;
    text-decoration: none;
    display: block;
}
.back-block__header img {
    position: relative;
    top: 5px;
    margin-right: 5px;
}
/* components*/
.header {
    background-color: var(--header);
    padding: 10px 0;
    width: 100%;
    position: fixed;
}
.button-mainpage-header {
    cursor: pointer;
}
.mobile-block {
    min-height: 100vh;
    padding-top: 55px;
}
.mobile-block__header {
    padding: 8px 0;
    text-align: center;
    font-size: 18px;
    color: var(--black);
    font-weight: bold;
}
.is-secondary {
    background-color: var(--block-light);
}
.is-heroes {
    background-color: #84c28d;
}
/* post detail */
.patch-block {
    padding: 21px 0;
    border-bottom: 2px solid var(--border);
    text-decoration: none;
    display: block;
}
.patch-block__title {
    font-size: 17px;
    margin-bottom: 10px;
    cursor: pointer;
    color: black;
}
.patch-block__date, .patch-block__version {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    color: var(--tags);
}
.post-block {
    padding: 20px 0;
}
.post-block img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 52px -6px rgba(34, 60, 80, 0.55);   
}
.description {
    font-size: 14px;
    text-align: justify;
    text-shadow: #565852;
}
/* post detail */
/* category page */
.category-item__title {
    font-weight: bold;
}
.category-row {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    gap: 30px;
    padding: 30px 0;
}
.category-item {
    border: 1.5px solid var(--block-light);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: var(--black);
    text-decoration: none;
}
.category-item2 {
    border: 1.5px solid var(--block-light);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    color: var(--black);
}
.category-item:hover {
    background-color: var(--block2-light);
    border: 1.5px solid var(--black);
    color: var(--white);
}
.category-item__img, .category-item__title {
    display: block;
}
.category-item__img {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.category-item__img2 {
    width: 100px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 9px;
}
.category-item__title {
    font-size: 14px;
}
.no-markers {
    padding-left: 40px;
    font-size: 24px;
}
.low_font {
    font-size: 12px;
}
.slide {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}
.loading-card {
    padding: 12px 0;
    border-bottom: 1px solid var(--border);
}
.loading-detail {
    padding: 20px 0;   
}
.loading-row {
    gap: 30px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 45% 45%;
}
.loading-item {
    border: 1.5px solid var(--block-light);
    padding: 30px;
    border-radius: 20px;
}
.skeleton-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--block-light);
    animation: ghost 1s infinite linear;
    margin: 0 auto;
    margin-bottom: 30px;
}
.skeleton-small-text {
    width: 80px;
    height: 20px;
    background-color: var(--block-light);
    animation: ghost 1s infinite linear;
    margin-top: 20px;
    margin: 0 auto;
    border-radius: 20px;
}
.skeleton-title, .skeleton-text, .skeleton-big-text, .skeleton-image {
    width: 100%;
    background-color: var(--border);
    border-radius: 8px;
    animation: ghost 1s infinite linear;
    margin-bottom: 10px;
}
.skeleton-title {
    height: 25px;
}
.skeleton-text {
    height: 15px;
}
.skeleton-big-text {
    height: 300px;
}
.skeleton-image {
    height: 189px;
}
@keyframes ghost {
    0% {
        background-color: var(--border);
    }
    50% {
        background-color: var(--ghost);
    }
    100% {
        background-color: var(--border);
    }    
}
.error {
    background-color: rgb(255, 94, 94);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.error-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.error-description {
    font-size: 16px;
    margin-bottom: 12px;
}
.white-btn {
    border-radius: 10px;
    border: none;
    text-decoration: none;
    padding: 10px 45px;
    background-color: white;
    color: rgb(255, 94, 94);
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}